  <!-- category list start-->
<ul class="nav justify-content-center">
  <li class="nav-item" *ngFor="let category of categories">
    <a *ngIf="selectedCategory!=category.categoryTitle" class="nav-link " aria-current="page" href="{{'/categories/'+category.categoryTitle}}">{{category.categoryTitle}}</a>
    <a *ngIf="selectedCategory==category.categoryTitle" class="nav-link active " aria-current="page" href="{{'/categories/'+category.categoryTitle}}" >{{category.categoryTitle}}</a>
  </li>

</ul>
<div id="categoryList" >
  <button class="btn btn-primary" type="button" *ngIf="categoryPoemsLoading" >
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Yükleniyor...
  </button>
</div>
  <!-- category list end--> 
  <!-- poems start-->
<div class="container" >
  <div class="row">
    <div class="col-12 col-lg-2" style="margin-top: 2%;"></div>
    <div class="col-6 col-lg-8" >
      <div class="card" id="poemBoxCard" *ngFor="let poem of categoryPoems" >
        <div class="card-body">
        <app-poem-box [poem]="poem"></app-poem-box>
      </div>
      <button *ngIf="!categoryPoemsLoading&&categoryPoems.length>5"class="btn btn-success" (click)="loadMorePoem()">Daha Fazla Gör</button>
    </div>
  </div>     
  </div>
</div>
 <!-- poems end-->
