<!-- navbar starts-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/mertyalcin/image/upload/v1637136345/poembook_1_ddutd3.png" alt="" width="200" height="53"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- right menu starts-->
      <ul class="navbar-nav" style="position: absolute;right: 3%;">
        <li *ngIf="isLoggedIn()" style="margin-right: 3%;"><button type="button" class="btn btn-primary" routerLink="/poem/search"><i class="fas fa-search"></i></button> </li>
        <li *ngIf="isLoggedIn()" style="margin-right: 3%;">
          <button type="button" routerLink="/message" class="btn btn-primary" >
            <i class="far fa-comment"></i>
          </button>
        </li>
      
        <li  *ngIf="isLoggedIn()" class="nav-item" >
          <button *ngIf="notices.length>0" type="button" class="btn btn-primary" data-toggle="modal" data-target="#noticeModel">
            <i class="fas fa-bell"></i> <span class="badge badge-light">{{notices.length}}</span>
          </button>
          <button *ngIf="notices.length==0" type="button" class="btn btn-primary" data-toggle="modal" data-target="#noticeModel">
            <i class="fas fa-bell"></i> <span class="badge badge-light"></span>
          </button>
        </li>
        <li class="nav-item dropdown" id="navbarDropdownMenu" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Merhaba {{user?.firstName}} 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"  href="/myaccount">Hesabım</a></li>
            <li><a class="dropdown-item"  href="{{'/user/'+user.username}}">Profilim</a></li>
            <li><a class="dropdown-item" (click)="onLogout()" href="#">Çıkış</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- right menu ends-->
<!-- bottom menu starts -->
<div class="col-12 col-lg-12" *ngIf="isLoggedIn()" >
	<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link " href="#">Ana Sayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/categories/Didaktik">Kategoriler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/most-liked">En Beğenilenler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/most-comment">En Çok Yorum Alanlar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/random">Rastgele Şiir</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/poem/search">Şiir Ara</a>
    </li>
  </ul>
	</div>
  <!-- bottom menu ends -->
<!-- navbar ends-->
<!--Notice starts-->
<div class="modal" tabindex="-1" role="dialog" id="noticeModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bildirimler</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >        
        <div  class="alert alert-secondary" role="alert" *ngFor="let notice of notices">
          {{notice.noticeText}}
          <button (click)="deleteNotice(notice.noticeId)" class="delete" style="position: absolute;right: 3%;background-color: red;">
            x 
            <div *ngIf="deleteLoading" class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </button>
        </div>     
        <div class="model-body" *ngIf="notices.length<1">
          <div class="alert alert-secondary" role="alert" >
              Bildirim Yok
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button *ngIf="!loading" (click)="deleteAllNotices()" type="button" class="btn btn-primary">Tümünü Temizle</button>
        <div *ngIf="loading" class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Notice ends-->