<div class=container style="position: relative;margin-bottom: 6%;">
  <div class=row>
    <a (click)="refresh()" type="button" class="btn btn-info btn-lg" style="position: relative;margin-bottom: 3%;">Rastgele Şiir Getir</a>
    <div class="col-6 ">      
      <div class="card" >        
        <div class="card-body">
          <!-- Story Box-->          
          <button *ngIf="randomPoemLoading" class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Rastgele bir şiir getiriliyor
          </button>
            <app-poem-box *ngIf="!randomPoemLoading" [poem]="randomPoem"></app-poem-box>
        </div>
  
        <!-- Story Box-->
      </div>
    </div>
   
  </div>
</div>