body{
    background-color:#ecf2f5;
    margin-top:20px;
}
.card {
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
    margin-bottom: 24px;
    max-height: 100%;
}
.avatar-lg {
    height: 4.5rem;
    width: 4.5rem;
}
.rounded-circle {
    border-radius: 50%;
}

.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
}
.me-2 {
    margin-right: .75rem;
}
.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
}
.rounded-circle {
    border-radius: 50%;
}
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent;
}


.font-13 {
    font-size: 13px;
}
.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.search{
    margin-right: 10%;
    margin-bottom: 5%;
}
.follower-following{
    max-height: 350px;
    overflow: auto;
    width: inherit;
    height: 300px;
    max-width: inherit;
}
