<div class="text-center">
  <main class="form-register">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
      <img class="mb-4" src="https://res.cloudinary.com/mertyalcin/image/upload/v1636739442/poembookbig_wcg7xb.png" alt="" width="200" height="113">
      <h1 class="h3 mb-3 fw-normal">Şifreni Sıfırla</h1>
      
      <div class="form-floating">
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email"       
         >
        <label for="floatingInput">Email</label>
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
          <p *ngIf="email.errors.email">Geçersiz Mail Adresi</p>
          
        </div> 
      </div>
      <button class="w-100 btn btn-lg btn-primary" name="button" type="submit" [disabled]="forgetPasswordForm.invalid || showLoading"
       >
        <span *ngIf="!showLoading">Şifreni Sıfırla</span>
        <div *ngIf="showLoading">
          <div  class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
          Şifre Sıfırlanıyor
        </div> </button>           
    </form>
    <div class="mt-4">
      <div class="d-flex justify-content-center links">
        Zaten hesabın var mı  ><p> <a routerLink="/login" class="ml-2" style="color: #2C3E50;">   Giriş Yap</a>
      </div>
    </div>
  </main>
</div>